$blogpost-head-color: #A99F8F;
$follower-count-color: #6F6658;

.blogpost {
  float: left;
  text-align: left;
  color: $blogpost-head-color;
  width: 100%;
}

.blogpost__head {
  padding: 3% 10%;
  text-align: left;
  background-color: $blogpost-head-color;
}

.blogpost__photo {
  display:inline-block;
  width: 30%;
  margin-right: 10%;
  box-shadow: 0 0 20px -2px red;
}

.blogpost__info {
  width: 35%;
  display:inline-block;
  vertical-align: middle;
}

.blogpost__name {
  color: #FFF;
  font-weight: bold;
  font-size: 160%;
  display: block;
  line-height: 95%;
  margin: 7% 0;
}

.blogpost__followerCount {
  color: $follower-count-color;
  display: block;
  font-weight: bold;
}

.blogpost__menu {
  width: 100%;
  margin: auto;
  li {
    border-left-width: 6px;
    border-left-color: #FFF;
    span {
      float: right;
    }
  }
  li:first-child {
    border-radius: 0;
  }
  li:hover {
    background-color: #F7F2EE;
    border-left-color: green;
    span {
      color: red;
    }
  }
}

@media only screen and (min-width: 769px) {
  .blogpost {
    width: 440px;
    height: auto;
  }
  .blogpost__head {
    padding: 7% 6%;
    text-align: center;
    border-radius: 5px;
  }
  .blogpost__photo {
    width: 35%;
  }
  .blogpost__menu {
    width: 90%;
  }
}
