$gray: #A99F8F;
$darkgray: #6F6658;

.profile {
  float: left;
  text-align: left;
  color: $gray;
  width: 100%;
}

.profile__head {
  padding: 3% 10%;
  text-align: left;
  background-color: $gray;
}

.profile__photo {
  display:inline-block;
  width: 30%;
  margin-right: 10%;
  box-shadow: 0 0 20px -2px red;
}

.profile__info {
  width: 35%;
  display:inline-block;
  vertical-align: middle;
}

.profile__name {
  color: #FFF;
  font-weight: bold;
  font-size: 160%;
  display: block;
  line-height: 95%;
  margin: 7%;
}

.profile__followerCount {
  color: $darkgray;
  display: block;
  font-weight: bold;
}

.profile__menu {
  width: 100%;
  margin: auto;
  li {
    border-left-width: 6px;
    border-left-color: #FFF;
    span {
      float: right;
    }
  }
  li:first-child {
    border-radius: 0;
  }
  li:hover {
    background-color: #F7F2EE;
    border-left-color: green;
    span {
      color: red;
    }
  }
}

@media only screen and (min-width: 769px) {
  .profile {
    width: auto;
    margin: 3%;
  }
  .profile__head {
    padding: 7% 6%;
    text-align: center;
    border-radius: 5px;
  }
  .profile__photo {
    width: 35%;
  }
  .profile__menu {
    width: 90%;
  }
}
