@import 'https://fonts.googleapis.com/css?family=Open+Sans';
$icon-font-path: '../fonts/bootstrap/';
@import 'node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss';

@import 'menu';
@import 'profile';

$colors: (
  blue: #587FAA,
  orange: #EB5922,
  green: #21B672,
  yellow: #E2D345,
  red: #E84E16,
  beige: #CC9576
);

.col-center{
    float: none;
    margin: 0 auto;
}

.opensans {
  font-family: 'Open Sans', sans-serif;
}

body {
  @extend .text-center;
  @extend .opensans;
  background-color: map-get($colors, red);
}

span, h1 {
  @extend .opensans;
}

@each $color, $colorValue in $colors {
  .btn-#{$color}{
    color: #fff;
    background-color: #{$colorValue};
  }
}

.btn-primary {
  @extend .btn-blue;
}

/* Customize menu */
.menu__entry, .menu__show-all {
  .counter {
    background-color: map-get($colors, red);
  }
}
.menu__entry--active, .menu__entry--active:hover, .menu__entry--active:focus {
  border-bottom-color: map-get($colors, green);
}

/* Customize profile */
.profile__menu li:hover {
  span {
    color: map-get($colors, red);
  }
}
